node_modules/
rules-tests/node_modules/
dist/
/functions/lib/
*.tsbuildinfo
.env
.env.*
!.env.example
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
firestore-debug.*.log
.firebase/
.tools/
/functions/functions.yaml
